<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kun uz | category create</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}"/>

</head>
<body>

<div class="container">
    <div class="row">
        <form
                class="col-8 offset-2"
                action="#"
                method="post"
                th:action="@{/category/create}"
                th:object="${categoryRequest}">


            <div class="form-group my-4">
                <input
                        th:field="*{nameUz}"
                        type="text"
                        class="form-control  form-control-lg"
                        id="nameUz"
                        placeholder="Kategoriya nomini o'zbekcha kiriting"/>

                <small
                        class="form-text text-danger"
                        th:if="${#fields.hasErrors('nameUz')}"
                        th:errors="*{nameUz}"></small>

            </div>

            <div class="form-group my-4">
                <input
                        th:field="*{nameEn}"
                        type="text"
                        class="form-control  form-control-lg"
                        id="nameEn"
                        placeholder="Enter category name in English "/>

                <small
                        class="form-text text-danger"
                        th:if="${#fields.hasErrors('nameEn')}"
                        th:errors="*{nameEn}"></small>

            </div>

            <div class="form-group my-4">
                <input
                        th:field="*{nameRu}"
                        type="text"
                        class="form-control form-control-lg"
                        id="nameRu"
                        placeholder="Введите название категории на русском языке"/>

                <small
                        class="form-text text-danger"
                        th:if="${#fields.hasErrors('nameRu')}"
                        th:errors="*{nameRu}"></small>

                <div class="form-group my-4">
                    <input
                            th:field="*{key}"
                            type="text"
                            class="form-control form-control-lg"
                            id="key"
                            placeholder="Key"/>

                    <small
                            class="form-text text-danger"
                            th:if="${#fields.hasErrors('key')}"
                            th:errors="*{key}"></small>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>